@import "../globals.scss";

#Oferta {
  @include mobile {
  }

  @include desktop {
  }

  // Fix for overflowing .card elements
  padding: 2.5rem;

  h1 {
    text-align: center;
    color: $oxford-blue;
    margin: 0rem;
    padding: 1rem;
  }

  .description p {
    text-align: center;
    margin: auto;
  }

  .card {
    padding: 1rem;

    transition: all 1s;
    &:hover {
      transform: scale(1.05);
    }

    .card-content {
      cursor: pointer;

      h2 {
        margin: 0rem;
        padding: 1rem;
        text-align: center;
        background: $oxford-blue;
        color: $orange-web;
      }

      box-shadow: 0px 0px 5px;
      display: flex;
      flex-direction: column;

      p {
        text-align: center;
        color: $oxford-blue;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .next {
      background: $orange-web;
      color: $oxford-blue;
      display: flex;

      a {
        font-size: 1.618rem;
        margin: 1rem auto;
      }

      svg {
        width: 1.618rem;
        height: 1.618rem;
        margin: auto;
      }
    }
  }
}
