@import "../globals.scss";

#PodOferta {
  text-align: center;

  .center {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      padding: 0rem;
      list-style-type: none;
    }
  }

  .wrapper {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: linear-gradient(
        to top,
        rgba($orange-web, 0.25) 0%,
        rgba($oxford-blue, 0.65) 100%
      );
    }
  }

  img {
    width: 100%;
  }

  .title {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: -25% auto;
    color: $white;
    background: rgba($oxford-blue, 0.65);
  }

  .container {
    padding-top: calc(5rem / 1.618);
  }
}
