#PrivacyPolicy {
  section {
    margin: 1rem;

    h5 {
      margin: 1rem;
      text-align: center;
    }

    h6 {
      margin: 0.25rem;
      text-align: center;
    }

    p,
    a {
      margin: 1rem;
    }

    a {
        color: dodgerblue;
        text-decoration: underline;
    }
  }
}
