@import "../globals.scss";

#Footer {
  width: 100%;
  background: $oxford-blue;
  color: $orange-web;
  text-align: center;

  .footer_col {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    @include mobile {
      border-bottom: 1px solid $orange-web;
      &:nth-last-child(1) {
        border-bottom: none;
      }
    }

    a,
    p {
      color: $orange-web;
      margin: 0px;
      padding: 1rem;
    }
  }
}
