@import "../globals.scss";

#Header {
  @include mobile {
  }

  @include desktop {
    display: flex;
    justify-content: space-between;

    #logo {
      display: flex;

      h1,
      img {
        margin: 0rem;
      }
    }

    #menu {
      display: flex;
      align-items: center;

      a {
        margin: auto;
        padding: 0rem 1rem;

        &.active,
        &:hover {
          color: $orange-web;
        }
      }
    }
  }
}
