@import "../globals.scss";

#QuickContact {
  .messenger {
    color: $white;
    background: #0078ff;
  }
  .whatsapp {
    color: $white;
    background: #4ac959;
  }

  @include mobile {
    a {
      width: calc(60% * 1.618);
      margin: 1rem auto;
      padding: calc(1rem / 1.618);
      display: flex;
      // Black color is necessary as shadow is inherited 
      // from color, so elements with white text will
      // render a useless white shadow on a white bg
      box-shadow: 0 0 0.25rem black;

      svg {
        width: 1.618rem;
        height: 1.618rem;
        margin: auto 1.618rem;
      }
    }
  }

  @include desktop {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0rem;
    margin: 0rem -0.25rem;

    a {
      display: flex;
      justify-content: center;
      padding: 0.25rem 0rem;
      margin: auto 0.25rem;
      border: 1px solid;

      flex: 1;
      &:nth-child(1) {
        flex: 2;
      }

      &:nth-child(-n+2) {
        &:hover {
          color: $orange-web;
          background: $oxford-blue;
        }
      }

      svg {
        display: block;
        margin: auto 1rem;
      }
    }
  }
}
