@import './globals.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: "Montserrat";
  font-display: fallback;
  src: url("/font/Montserrat-Regular.ttf") ;
}

body {
  font-family: "Montserrat";
  color: $oxford-blue;
}

a,
a:hover {
  color: inherit;
}